<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sing in | amarsik</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
    <script defer src="sing-in.js"></script>
</head>
<body>
    <form id="form" class="form">
        <img src="../assets/images/laptop.jpg" alt="">
        <div class="form__inputs">
            <h2>Sing-in</h2>
            <label for="email"><input type="email" name="email" id="email" placeholder="Email"></label>
            <label for="password"><input type="password" name="password" id="password" placeholder="******"></label>
            <label for="name"><input type="text" name="name" id="name" placeholder="Name"></label>
            <button type="submit">Sing in</button>
            <p id="message"></p>
            <p>Forgot <a href="../recovery-password/recovery-password.html">Password?</a></p>
            <a href="../login/login.html">Login</a>
        </div>
    </form>

</body>
<script src="../../dist/main.js"></script>
</html>
