<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | amarsik</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
    <script defer src="login.js"></script>
</head>
<body>
    <form id="form" class="form">
        <img src="../assets/images/laptop.jpg" alt="">
        <div class="form__inputs">
            <h2>Login</h2>
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="password" name="password" id="password" placeholder="******">
            <button type="submit">Login</button>
            <p id="message"></p>
            <p>Forgot <a href="../recovery-password/recovery-password.html">Password?</a></p>
            <a href="../sing-in/sing-in.html">Create your account</a>
        </div>
    </form>
   
</body>
<script src="../../dist/main.js"></script>
</html>
