body{
    margin: 0;
    padding: 0;
    background-color: #2f3242;
}
*{
    font-family: Montserrat,  "sans-serif";
}
header{
    height: 95px;
    padding: 0 20px;
    background-color: #2f3242;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-width: 475px;
}
.header__nav img{
    width: 50px;
    border-radius: 50%;
}
.header__nav button{
    padding: 15px 30px;
    border-radius: 40px;
    background-color: inherit;
    border: 2px #2196f3 solid;
    color: white;
    font-size: 18px;
}
.header__nav button:hover{
    cursor: pointer;
}
.header__nav i{
    color: white;
    font-size: 22px;
}
.header__nav button i{
    font-size: 16px;
    color: #2196f3;
}
.header__avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__avatar i{
    font-size: 12px;
    padding: 5px;
}
section{
    display: flex;
    flex-direction: row;
}
.section__nav{
    width: 95px;
    background-color: #2f3242;
}
.section__nav i{
    padding: 40px 30px;
    font-size: 25px;
    color: #737aa1;
}
.section__nav i:hover{
    color: white;
    cursor: pointer;
}
.section__content{
    display: flex;
    flex-direction: column;
}
.content__nav{
    height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2194f0;
    color: white;
}
.content__nav:first-child{
    padding: 0 20px;
}
.content__nav__types span{
    color: #2a2c3b;
    padding: 0 20px;
}
.content__nav__types span:hover{
    color: white;
    cursor: pointer;
}
.content__nav__filter select{
    border-radius: 30px;
    background-color: inherit;
    color: white;
    padding: 5px 20px;
    border-color: white;
}
.content_content{
    display: flex;
    flex-direction: row;
}
.content_content .dialogs{
    display: flex;
    min-width: 300px;
    width: 30%;
    flex-direction: column;
    background-color: #2b2d3c;
}
.dialogs .dialogs-item{
    display: flex;
    padding: 20px;
    flex-direction: column;
    border-bottom: 1px #9ca1b2 solid;
    color: #9ca1b2;
}
.dialogs-item__person{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dialog__name{
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.dialogs-item__person img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.dialogs-add{
    width: 70%;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #2196f3;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}
.dialog{
    background-color: #2f3242;
    min-width: 400px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.dialog-items{
    display: flex;
    flex-direction: column;
    max-height: 600px;
    overflow: auto;
}
.dialog-message{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 20px 100px 20px 20px;
}
.my{
    flex-direction: row-reverse;
    padding-right: 0;
    padding-left: 100px;
}
.dialog-message img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 10px;
}
.dialog-message p{
    color: white;
    background-color: #404359;
    padding: 10px;
    border-radius: 10px 10px 10px 0;
}
.dialog-message.my p{
    background-color: #2196f3;
    border-radius: 10px 10px 0 10px;
}
.dialog input{
    width: 90%;
    padding: 10px 20px;
    background-color: #404359;
    border: 1px #ccc solid;
    border-radius: 15px;
    color: white;
}
.user_info{
    display: flex;
    min-width: 300px;
    width: 20%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #2b2d3c;
    color: white;
}
.user_info p{
    margin: 10px;
}
.user-info__avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
p.user-info__name{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 0;
}
.user_info .work{
    color: #9ea3b4;
    font-weight: bold;
    margin-top: 0;
}
.user_info .desc{
    color: #9ca1b2;
    font-size: 14px;
}
.user_info .title{
    color: #9ca1b2;
}
.user_info .text{
    color: white;
    font-weight: bold;
}
@media screen and (max-width: 1150px){
    section{
        flex-direction: column;
    }
    .section__nav{
        width: auto;
    }
    .user_info{
        display: none;
    }
    .dialog{
        width: 100%;
    }
}