<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recovery password | amarsik</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
    <script defer src="recovery-password.js"></script>
</head>
<body>
    <form id="form" class="form">
        <img src="../assets/images/laptop.jpg" alt="">
        <div class="form__inputs">
            <h2>Recovery</h2>
            <label for="email"><input type="email" name="email" id="email" placeholder="Email"></label>
            <label for="password"><input type="password" name="password" id="password" placeholder="******"></label>
            <label for="password2"><input type="password" name="password" id="password2" placeholder="******"></label>
            <button type="submit">Recover</button>
            <p id="message"></p>
            <p><a href="../sing-in/sing-in.html">Create account</a> or <a href="../login/login.html">Login</a></p>
        </div>
    </form>
   
</body>
<script src="../../dist/main.js"></script>
</html>
